*{
    padding: 0 auto;
    margin: 0 auto;
}
#loginb{
    justify-content: center;
}
#login{
    flex-wrap: wrap;
    width: 400px;
    padding-bottom: 10px;
    background-color: #2698fd;
    text-align: center;
}
#login h3{
    color: whitesmoke;
}
#login button{
    font-weight: bolder;
}
#form{
    
    background-color: lightcyan;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#mensaje{
    border: 1px solid black;
    background-color: white;
    font-size: medium;
    font-weight: bold;
}

#regre{
    font-weight: bolder;
}