*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    height: 15%;
    padding: 50px;
    background-color: lightgray;
    text-align: center;
    background-image: url(/img/enca2.jpg);
}
header img{
    width: 200px;
    height: 150px;
}
header h1{
    font-size: 300%;
    font-weight: bold;
    color: white;
}
nav{
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #2698fd ;
    box-shadow: 0 0 10px blue;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    width: 25%;
}
nav a:hover{
    background-color: blue;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
section{
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: justify;
}
section p, h3{
    font-style: normal;
    font-size: 150%;   
}
section h2{
    font-size: 200%;
} 
.texto{
    font-size: 150%;
    font-style: italic;

}

section img{
    width: 50%;
    align-content:center;
}
section div{
    padding: 5px;
    align-content: center;
}
form{
    text-align: center;
}
form label{
    font-size: 150% auto;
    font-family: Arial;
    font-weight: bold;
}
form textarea{
    font-family: Arial;
    font-size: large;
}
form input{
    font-size: large;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: gray;
}
footer h3{
    color: white;
}
#a{
    flex-wrap: wrap;
}
#admin{
    background-color: lightskyblue;
    flex-wrap: wrap;
}
#botones button{
    font-size:large;
    font-weight: bold;
}
#botones  button:hover{
    background-color: #2698fd;
    color: white;
}
#cur{
    text-align: justify;
    font-size: large;
    border: 1px solid blue; 
    height: auto;
    width: auto ;
    margin: 10px;
    box-shadow:0 0 10px blue;
}
#cur img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}
#cur button{
    background-color: lightblue;
    color: black;
    font-size: larger;
    font-family: verdana;
    font-weight: bold;
}
#btn2:hover{
    background-color: aqua;
    cursor: pointer;
}
#cur button:visited{
    background-color: blue;
    color: white;
}

#cur2{
    text-align: justify;
    font-size: large;
    border: 1px solid red; 
    height: auto;
    width: auto ;
    margin: 10px;
    box-shadow:0 0 10px red;
}
#cur2 img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}
#cur2 button{
    background-color: lightblue;
    color: black;
    font-size: larger;
    font-family: verdana;
    font-weight: bold;
}
#btn2:hover{
    background-color: aqua;
    cursor: pointer;
}



@media screen and (max-width: 700px){
    nav, .row, section{
        flex-direction: column;
    }
    nav a{
        width: 100%;
    }
}
.texto2{
    padding-right: 10%;
}
#ubi img{
    width: 100%;
}
#bton1{
 background-color: aqua;
 font-size: larger;
 font-weight: bold;
}
#bton1:hover{
    background-color: blue;
    color: white;
}

